.delivery {
    margin-bottom: 37px;
    &__content {
    }
    &__title {
        margin-bottom: 10px;
    }
    &__block {
        padding: 35px;
        display: flex;
        flex-direction: column;
        border-radius: 32px;
        box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25),0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        background: rgb(255, 247, 247);
        height: 421px;
        position: relative;
    }
    &__list {
        display: flex;
        height: 100%;
        justify-content: space-between;
    }
    &__col {
        display: flex;
        flex-direction: column;
        &-title {
            margin-bottom: 12px;
            font-family: Dimica;
            font-size: 20px;
            font-weight: 400;
            line-height: 20px;
        }
        &-calendary {
            margin-left: 18px;
            padding: 5px 15px 0;
            height: 47px;
            width: 257px;
            border: 1px solid rgb(0, 0, 0);
            border-radius: 15px;
            color: rgb(156, 156, 156);
            font-family: Dimica;
            font-size: 20px;
            font-weight: 400;
            line-height: 20px;
            position: relative;
            cursor: pointer;
            &::after {
                content: "";
                width: 24px;
                height: 24px;
                display: inline-block;
                position: absolute;
                top: 10px;
                right: 12px;
                background: url(../img/calendar.svg) center/ 100% no-repeat;
            }
            &::-webkit-calendar-picker-indicator {
                width: 100%;
                position: absolute;
                opacity: 0;
                z-index: 2;
                cursor: pointer;
            }
        }
        &-label {
            margin-bottom: 40px;
            color: rgb(0, 0, 0);
            font-family: Dimica;
            font-size: 20px;
            font-weight: 400;
            line-height: 18px;
            opacity: 0.5;
        }


        &-radio {
            margin-bottom: 40px;
            font-family: Dimica;
            font-size: 20px;
            font-weight: 400;
            line-height: 20px;
            display: flex;
            align-items: center;
            gap: 5px;
            position: relative;
            cursor: pointer;
            &:has(input:checked) {
                &::before {
                    position: absolute;
                    top: 4px;
                    left: 3.5px;
                    content: "";
                    height: 14px;
                    width: 14px;
                    display: inline-block;
                    background-color: #F94056;
                    border-radius: 50%;
                    border: 1px solid black;
                }
            }
        }

        &-type {
            height: 22px;
            min-width: 22px;
            border: 1px solid black;
            cursor: pointer;
        }

        &-fast {
            border-radius: 6px;
            height: 22px;
            min-width: 22px;
            border: 1px solid black;
            cursor: pointer;
            appearance: none;
        }

        &-wrapper {
            height: 45px;
            margin-bottom: 42px;
        }
    }

    &__dropdown + .delivery__col-radio {
        margin-bottom: 25px;
    }

    &__price-row {
        width: 100%;
        left: 0;
        bottom: 32px;
        position: absolute;
        text-align: center;
        font-family: Dimica;
        font-size: 32px;
        font-weight: 400;

        span {
            padding: 0 20px;
            color: rgb(156, 156, 156);
            font-family: Dimica;
            font-size: 32px;
            font-weight: 700;
        }
    }

    &__decor-arrow-left {
        position: absolute;
        top: 122px;
        left: 340px;
        filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
    }

    &__decor-arrow-right {
        position: absolute;
        top: 122px;
        right: 345px;
        filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
    }
}
