.info-price {
    padding: 25px;
    width: 400px;
    height: max-content;
    border-radius: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;

    &__list {
        margin-bottom: 17px;
        display: flex;
        gap: 10px;
    }

    &__item {
        height: 80px;
        width: 80px;
        border-radius: 20px;
        background-color: #BABABA;
        position: relative;

        &-count {
            position: absolute;
            bottom: -4px;
            right: -2px;
            height: 25px;
            min-width: 25px;
            border-radius: 50%;
            font-family: Dela;
            font-size: 20px;
            font-weight: 400;
            line-height: 22px;
            display: inline-block;
            color: white;
            text-align: center;
            background-color: #FF5496;
        }
    }

    &__line {
        margin-bottom: 14px;
        width: 100%;
        height: 1px;
        background-color: #D9D9D9;
    }

    &__center {
        margin-bottom: 18px;
        display: flex;
        flex-direction: column;
        gap: 13px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__text {
        font-family: Dimica;
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
    }

    &__text-bold {
        font-family: Dela;
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
    }

    &__wrapper-input {
        position: relative;
    }

    &__code {
        padding: 0px 30px 0 5px;
        height: 31px;
        width: 181px;
        font-family: Dimica;
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        border: 1px solid #B0B0B0;
        border-radius: 5px;

        &_false {
            border-color: #F94056;
            color: #F94056;
        }

        &_true {
            border-color: #39BB12;
            color: #39BB12;
        }
    }

    &__check {
        position: absolute;
        right: 6px;
        top: 8px;
        background-color: transparent;
        transition: all 0.15s linear;

        &:active {
            transform: scale(0.9);
        }

    }

    &__button {
        margin-top: 20px;
        align-self: center;
        height: 44px;
        width: 256px;
        border-radius: 20px;
        background: linear-gradient(90deg, #31CED9 0%, #9747FF 100%);
        color: white;
        font-family: Dela;
        font-size: 20px;
        font-weight: 400;
        line-height: 44px;
        text-align: center;
        border: 1px solid #197DCF;
        transition: all 0.15s linear;

        &:hover {
            background: linear-gradient(90deg, rgba(49, 206, 217, 0.3) 0%, rgba(151, 71, 255, 0.3) 100%);
            color: #370D6D;
        }

        &:active {
            transform: translateY(3px);
        }
    }
}