.info-password {
    padding: 18px;
    width: 310px;
    border: 1px solid rgb(255, 84, 150);
    border-radius: 19px;
    background: rgb(255, 255, 255);
    position: absolute;
    right: -70px;
    display: flex;
    flex-direction: column;
    &__text {
        margin-bottom: 13px;
        color: rgb(0, 0, 0);
        font-family: Dimica;
        font-size: 20px;
        font-weight: 400;
    }

    &__list {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;

        & li {
            position: relative;

            &::before {
                content: "";
                display: inline-block;
                position: absolute;
            }
        }

        & li:nth-child(1),
        & li:nth-child(2) {
            &::before {
                width: 15px;
                height: 12px;
                top: 4px;
                background: url("../img/accept-green.svg") center / 100% no-repeat;
            }
        }

        & li:nth-child(3) {
            &::before {
                width: 13px;
                height: 13px;
                top: 2px;
                background: url("../img/cancle-red.svg") center / 100% no-repeat;
            }
        }
    }

    &__item {
        padding-left: 27px;
        color: rgb(0, 0, 0);
        font-family: Dimica;
        font-size: 20px;
        font-weight: 400;
    }

    &__button {
        height: 30px;
        width: 77px;
        padding: 0;
        text-align: center;
        line-height: 18px;
        align-self: center;
    }
}