.admin-chats {
    padding: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__search {
        margin-bottom: 41px;
        width: 590px;
        position: relative;
        input {
            width: 100%;
            padding: 20px 65px 20px 35px;
            font-family: Dimica;
            font-size: 20px;
            font-weight: 400;
            line-height: 20px;
            border-radius: 23px;
            background-color: #D9D9D9;

            &::placeholder {
                font-family: Dimica;
                font-size: 20px;
                font-weight: 400;
                line-height: 20px;
                color: #7D7D7D;
            }
        }

        &-img {
            position: absolute;
            right: 30px;
            top: 14px;
            z-index: 2;
            transition: all 0.15s linear;
            cursor: pointer;

            &:active {
                transform: scale(0.9);
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 15px 30px;
        border-radius: 23px;
        background-color: #EBEAEA;
        transition: all 0.15s linear;
        cursor: pointer;

        & * {
            cursor: pointer;
        }

        &:hover {
            box-shadow: 0px 0px 11px 0px #00000066;
        }

        &:active {
            transform: scale(0.95);
        }
        
        &-title {
            font-family: Dela;
            font-size: 20px;
            font-weight: 400;
            line-height: 28.96px;
            text-align: left;        
        }

        &-id {
            font-family: Dimica;
            font-size: 20px;
            font-weight: 400;
            line-height: 20px;
            text-align: left;     
        }

        &-email {
            font-family: Dimica;
            font-size: 20px;
            font-weight: 400;
            line-height: 20px;
            text-align: left;     
        }
    }

    &__empty {
        margin-top: 150px;
        font-family: Dimica;
        font-size: 32px;
        font-weight: 400;
        line-height: 32px;
    }
}