.button-style {
    padding: 0 34px;
    width: max-content;
    height: 75px;
    border: 1px solid rgb(255, 84, 150);
    border-radius: 30px;
    color: rgb(255, 84, 150);
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    transition: all 0.2s linear;
    &:hover {
        background-color: rgb(255, 84, 150);
        color: white;
        border-color: white;
    }
    &:active {
        transform: translateY(5px);
    }
}