@font-face {
    font-family: 'Dimica';
    src: url('../../../public/fonts/Dimica-Regular.eot');
    src: url('../../../public/fonts/Dimica-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../../public/fonts/Dimica-Regular.woff2') format('woff2'),
        url('../../../public/fonts/Dimica-Regular.woff') format('woff'),
        url('../../../public/fonts/Dimica-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dela';
    src: url('../../../public/fonts/DelaGothicOne-Regular.eot');
    src: url('../../../public/fonts/DelaGothicOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../../public/fonts/DelaGothicOne-Regular.woff2') format('woff2'),
        url('../../../public/fonts/DelaGothicOne-Regular.woff') format('woff'),
        url('../../../public/fonts/DelaGothicOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../../../public/fonts/Inter28pt-Bold.eot');
    src: url('../../../public/fonts/Inter28pt-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../../public/fonts/Inter28pt-Bold.woff2') format('woff2'),
        url('../../../public/fonts/Inter28pt-Bold.woff') format('woff'),
        url('../../../public/fonts/Inter28pt-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}