.admin-layer {
    padding: 30px 0 80px;
    &__content {
        padding: 50px 20px;
        background: #FFFFFF80;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 42px;
        width: 1200px;
        display: flex;
        gap: 20px;
    }

    &__menu {
        min-width: 340px;
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    &__link { 
        padding: 0px 42px;
        position: relative;
        cursor: pointer;
        &_active {
            background-color: white;
            border-radius: 50px;
        }

        span {
            padding-left: 0;
            color: rgb(0, 0, 0);
            font-family: Dimica;
            font-size: 32px;
            font-weight: 400;
            line-height: 95px;
            display: inline-block;
            transition: all 0.15s linear;
            cursor: pointer;
        }
    }

    &__block {
        background: rgb(255, 255, 255);
        border-radius: 50px;
        height: auto;
        min-height: 640px;
        width: 100%;
    }
}