.basket {
    padding: 22px 44px 40px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        margin-bottom: 30px;
        font-family: Dela;
        font-size: 48px;
        font-weight: 400;
        line-height: 70px;
        
    }

    &__button {
        margin-bottom: 30px;
        padding: 5px 58px 11px;
        border-radius: 20px;
        font-family: Dela;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        color: white;
        background: linear-gradient(90deg, #FFEF3A -32.83%, #FF5496 113.26%);
        transition: all 0.15s linear;

        &:hover {
            transform: scale(1.1);
        }
        
    }

    &__list {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__item {
        padding: 23px 30px;
        display: flex;
        gap: 25px;
        border-radius: 23px;
        width: 100%;
        background-color: #EBEAEA;
        transition: all 0.15s linear;
        & * {
            cursor: pointer;
        }

        &:hover {
            box-shadow: 4px 4px 20px 0px #00000073;
        }

        &-img {
            height: 143px;
            min-width: 143px;
            border-radius: 8px;
            background-color: #acacac;
        }

        &-info {
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        &-number {
            font-family: Dimica;
            font-size: 20px;
            font-weight: 300;
            color: #636363;           
        }

        &-name-price {
            margin-bottom: 40px;
            width: 100%;
            height: 34px;
            font-family: Dela;
            font-size: 24px;
            font-weight: 400;
            line-height: 24px;  
            display: flex;
            justify-content: space-between;      
            align-items: end;
            span {
                font-size: 20px;
                line-height: 20px;
            }
        }

        &-date {
            margin-top: auto;
            font-family: Dimica;
            font-size: 20px;
            font-weight: 300;
            text-align: left;

        }
    }

    &__empty {
        margin-top: 100px;
        font-family: Dimica;
        font-size: 32px;
        font-weight: 400;
        line-height: 32px;
    }
}