.account-setting {
    padding: 50px;

    &__change-password {
        margin-bottom: 50px;
        color: rgb(0, 0, 0);
        font-family: Dimica;
        font-size: 32px;
        font-weight: 400;
        display: inline-block;
        transition: all 0.15s linear;
        &:hover {
            color: #1389E9;
        }
    }

    &__delete-password {
        display: block;
        color: rgb(0, 0, 0);
        font-family: Dimica;
        font-size: 32px;
        font-weight: 400;
        background-color: transparent;
        transition: all 0.15s linear;
        &:hover {
            color: #F94056;
        }
    }

    &__modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.301);
        &-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            padding: 25px 20px; 
            width: 409px;
            border-radius: 29px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: rgb(255, 255, 255);            
            border: 2px solid rgb(255, 84, 150);
        }
        &-title {
            margin-bottom: 11px;
            color: rgb(0, 0, 0);
            font-family: Dimica;
            font-size: 32px;
            font-weight: 400;
            text-align: center;
        }

        &-text {
            margin-bottom: 25px;
            color: rgb(125, 125, 125);
            font-family: Dimica;
            font-size: 20px;
            font-weight: 400;
        }
        &-row {
            display: flex;
            gap: 53px;
        }
        &-cancle {
            padding: 3px 7px;
            border: 1px solid rgb(102, 136, 237);
            border-radius: 30px;
            color: rgb(102, 136, 237);
            font-family: Inter;
            font-size: 24px;
            font-weight: 700;
            line-height: 130%;
            transition: all 0.15s linear;
            &:hover {
                background-color: rgb(102, 136, 237);
                color: rgb(255, 247, 247);
            }
        }
        &-yes {
            padding: 2px 31px;
            border: 1px solid rgb(255, 84, 150);
            border-radius: 30px;
            background: rgb(255, 247, 247);
            color: rgb(255, 84, 150);
            font-family: Inter;
            font-size: 24px;
            font-weight: 700;
            line-height: 130%;
            transition: all 0.15s linear;
            &:hover {
                background-color: rgb(255, 84, 150);
                color: rgb(255, 247, 247);
            }
        }
    }
}