.list {
    display: flex;
    flex-direction: column;

    & .page-count {
        margin-top: auto;
    }

    &__content {
        margin-bottom: 62px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__empty {
        padding: 152px 78px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin-bottom: 27px;
        font-family: Dela;
        font-size: 40px;
        font-weight: 400;
        line-height: 58px;
        text-align: center; 
        color: #FFFFFF;
    }

    &__text {
        width: 539px;
        font-family: Dimica;
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;  
        color: #FFFFFF;   
    }

    &__item {
        padding: 18px;
        height: 375px;
        width: 285px;
        border-radius: 25px;
        background-color: white;

        &-img {
            position: relative;
            margin-bottom: 5px;
        }

        &-label {
            position: absolute;
            top: 11px;
            left: 9px;
            padding: 2px 0px 0;
            font-family: Dimica;
            font-size: 12px;
            font-weight: 400;
            line-height: 12px;
            text-align: center;
            display: inline-block;
            width: 90px;
            border-radius: 5px;
            background-color: #FF5496;
            color: #FFFFFF;
        }

        &-favorite {
            position: absolute;
            top: 11px;
            right: 12px;
        }

        &-price {
            margin-bottom: 8px;
            font-family: Dela;
            font-size: 24px;
            font-weight: 400;
            line-height: 31.2px;
            color: #44343C;
        }

        &-name {
            margin-bottom: 8px;
            font-family: Dimica;
            font-size: 16px;
            font-weight: 400;
            line-height: 16px;
            text-align: left;
        }

        &-button {
            padding: 2px 41px 10px;
            font-family: Dela;
            font-size: 24px;
            font-weight: 400;
            line-height: 34.75px;
            text-align: center;
            border-radius: 12px;
            color: #FFFFFF;
            background: linear-gradient(90deg, #F94056 -7.97%, #FF5496 104.58%);
            transition: all 0.15s linear;

            &:hover {
                opacity: 0.8;
                color: white;
            }

            &:active {
                transform: scale(0.95);
            }
        }
    }
}