.reviews {
    margin-bottom: 40px;
    &__content {
        display: flex;
        flex-direction: column;
    }
    &__title {
        margin-bottom: 43px;
    }
    &__swiper {
        display: flex;
        align-items: center;

        &-prev,
        &-next {
            margin-bottom: 26px;
            height: 40px;
            min-width: 25px;
            background: url("../img/arrow-black-swiper.svg") center / 100% 100% no-repeat;
        }

        &-prev {
            transform: rotateZ(180deg);
            margin-right: 6px;
        }

        &-next {
            margin-left: 6px;
        }

        .swiper {
            margin-left: 0;
            &-slide {
                width: 360px;
            }
        }
    }
    &__item {
        margin-bottom: 26px;
        border-radius: 30px;
        padding: 32px 26px 10px;
        box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25),0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        background: rgb(255, 255, 255);
        width: 360px;
        height: 205px;
        &-author {
            height: 20px;
            margin-bottom: 21px;
            color: #000000;
            font-family: Dimica;
            font-size: 20px;
            font-weight: 400;
            display: flex;
            gap: 5px;

            span {  
                display: flex;

                img {
                    height: 18px;
                }
            }
        }
        &-text {
            font-family: Dimica;
            font-size: 20px;
            font-weight: 400;
        }
    }
    &__label {
        margin-left: 67px;
        margin-bottom: 32px;
        color: rgb(125, 125, 125);
        font-family: Dimica;
        font-size: 20px;
        font-weight: 400;
    }
    &__button {
        align-self: center;
        background-color: white;
    }
}
