.edit-address {
    padding: 28px 33px 22px;
    width: 1092px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;

    &__title {
        margin-bottom: 26px;
        font-family: Dela;
        font-size: 32px;
        font-weight: 400;
        line-height: 32px;
    }

    &__block {
        display: flex;
        gap: 40px;
    }

    &__info {
        width: 379px;
        display: flex;
        flex-direction: column;
        gap: 11px;
    }

    &__field {
        font-family: Dela;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px; 
        display: flex;
        flex-direction: column;
        gap: 11px;

        input {
            height: 44px;
            border-radius: 8px;
            border: 1px solid #A9A9A9;
            padding: 0px 10px;
            font-family: Dimica;
            font-weight: 500;
            font-size: 18px;
            line-height: 18px;
        }

        textarea {
            resize: none;
            height: 127px;
            border-radius: 8px;
            border: 1px solid #A9A9A9;
            padding: 5px;
            font-family: Dimica;
            font-weight: 500;
            font-size: 18px;
            line-height: 18px; 
        }
    }

    &__row {
        display: flex;
        gap: 57px;
        & input {
            width: 161px;
        }
    }

    &__save {
        margin-top: 21px;
        padding: 0 34px;
        width: 100%;
        height: 49px;
        border: 1px solid rgb(255, 84, 150);
        border-radius: 30px;
        color: rgb(255, 84, 150);
        font-family: Dela;
        font-size: 24px;
        font-weight: 400;
        line-height: 130%;
        text-align: center;
        transition: all 0.2s linear;
        background-color: transparent;

        &:hover {
            background-color: rgb(255, 84, 150);
            color: white;
            border-color: white;
        }
        &:active {
            transform: translateY(5px);
        }
    }

    &__close {
        top: 25px;
        right: 25px;
        position: absolute;
        background-color: transparent;
    }

    &__map {
        overflow: hidden;
        height: 533px;
        border-radius: 30px;
        cursor: pointer;

        & ymaps {
            cursor: pointer;
        }
    }
}