.loading-circle {
    margin: auto 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.spinner {
    animation: rotator 2s linear infinite;
}

.path {
    stroke-dasharray: 190;
    stroke-dashoffset: 0;
    stroke: rgb(211, 211, 211);
    stroke-width: 6;
    stroke-linecap: round;
}

@keyframes rotator {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}