.header {
    &__content {
        height: 141px;
        padding: 36px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        font-size: 48px;
        color: white;
        font-family: "Dela";
        p {
            cursor: pointer;
        }

        span {
            color: var(--color-yellow-1);
        }

    }

    &__nav {
        display: flex;
        align-items: center;
        gap: 47px;
    }

    &__link {
        font-size: 20px;
        font-family: "Dimica";
        color: white;
        position: relative;
        transition: all 0.15s linear;
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 2px;
            background: white;
            transition: all 0.15s linear;
        }
        &:hover {
            transform: scale(1.1);
            color: white;
            &::before {
                width: 100%;
            }
        }
    }

    .button-style {
        height: 45px;
        background-color: rgb(255, 84, 150);
        color: white;
        border-color: white;
        font-size: 20px;

        &:hover {
            border-color: rgb(255, 84, 150);
            color: rgb(255, 84, 150);
            background: white;
        }
    }
}