.info { 

    &__content {
        margin: 0 120px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        margin: 0 30px 21px;

        &-left {
            display: flex;
            gap: 10px;
        }

        &-right {
            display: flex;
            gap: 12px;
        }
        
        &-tag {
            padding: 0 10px;
            height: 25px;
            border: 1px solid black;
            min-width: 81px;
            border-radius: 8px;
            font-family: Dimica;
            font-size: 14px;
            font-weight: 400;
            text-align: center;
            line-height: 25px;
            background-color: white;
        }

        &-avail {
            padding: 0 10px;
            height: 25px;
            border: 1px solid rgba(249, 64, 86, 1);
            min-width: 81px;
            border-radius: 8px;
            font-family: Dimica;
            font-size: 14px;
            font-weight: 400;
            text-align: center;
            line-height: 25px;
            color: rgba(170, 29, 46, 1);
            background-color: white;

            &_active {
                border-color: rgba(16, 219, 94, 1);
                color: rgba(5, 65, 7, 1);
            }
        }

        &-favorite {
            padding: 0 10px;
            height: 25px;
            border: 1px solid black;
            border-radius: 8px;
            background-color: white;
            transition: all 0.15s linear;
            cursor: pointer;

            &:hover {
                border-color: rgba(255, 84, 150, 1);
            }

            img {
                position: relative;
                top: 3px;
            }
        }
    }

    &__block {
        min-height: 500px;
        height: 100%;
        margin-bottom: 58px;
        display: flex;
        gap: 19px;
        padding: 23px 30px;
        border-radius: 50px;
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(4px);

        &-column {
            height: auto;
            display: flex;
            flex-direction: column;
            gap: 19px;
        }

        &-row {
            display: flex;
            gap: 20px;
        }

        &-left {
            max-width: 284px;
            width: 100%;
        }

        &-right { 
            width: 100%;
        }

        &-sticky {
            height: max-content;
            display: flex;
            position: sticky;
            top: 123px;
        }

        &-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 14px;
            max-height: 493px;
        }

        &-prev {
            background-color: transparent;
            transition: all 0.15s linear;

            &:active {
                transform: scale(0.9);
            }

            img {
                width: 14px;
                height: 28px;
                transform: rotateZ(90deg);
                filter: drop-shadow(4px 0px 3px #9747FF);
            }
        }

        &-next {
            background-color: transparent;
            transition: all 0.15s linear;
            
            &:active {
                transform: scale(0.9);
            }

            img {
                width: 14px;
                height: 28px;
                transform: rotateZ(-90deg);
                filter: drop-shadow(-4px 0px 3px #9747FF);
            }
        }

        &-scroll {
            display: flex;
            flex-direction: column;
            height: 420px;

            .swiper {

                &-slide {
                    max-height: max-content;
                }
            }
        }

        &-img {
            width: 99px;
            height: 132px;
            border-radius: 20px;    
            overflow: hidden;
            background-color: rgba(186, 186, 186, 1);      
            cursor: pointer;

            img {
                object-fit: cover;
                object-position: center;
                width: 99px;
                height: 132px;
            }
        }

        &-main-img {
            margin-left: 13px;
            width: 369px;
            height: 493px;
            border-radius: 30px;
            background-color: rgba(186, 186, 186, 1);
            overflow: hidden;
            
            img {
                object-fit: cover;
                width: 369px;
                height: 493px;
            }
        }

        

        &-name {
            margin-bottom: 10px;
            font-family: Dela;
            font-size: 20px;
            font-weight: 400;
            line-height: 26px;
            text-align: left;
            word-break: keep-all;
        }

        &-rating {
            margin-bottom: 32px;
            display: flex;
            align-items: flex-end;
            gap: 19px;
        }

        &-rating-img {
            display: flex;
            align-items: flex-end;
            gap: 5px;

            span {
                line-height: 1;
            }
        }

        &-comment {
            font-family: Dimica;
            font-size: 14px;
            font-weight: 400;
            line-height: 14px;
            color: rgba(99, 99, 99, 1);
        }

        &-text {
            font-family: Dimica;
            font-size: 14px;
            font-weight: 400;
            line-height: 120%;
        }

        &-list {
            margin-bottom: 51px;
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
        }

        &-item {
            padding: 4px 5px;
            height: 25px;
            border: 1px solid rgba(0, 0, 0, 1);
            border-radius: 8px;
            font-family: Dimica;
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            text-align: center;
            cursor: pointer;

            &_active {
                background-color: rgba(151, 71, 255, 0.2);
            }
        }

        &-title {
            margin-bottom: 10px;
            font-family: Dela;
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            text-align: left;
        }

        &-descr {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        &-bg {
            height: max-content;
            width: 100%;
            padding: 15px 40px 40px;
            display: flex;
            flex-direction: column;
            border-radius: 40px;
            background-color: rgba(255, 255, 255, 1);
            box-shadow: 0px 3px 2.2px 0px #6F6F6F40;
        }

        &-price {
            margin-bottom: 30px;
            font-family: Dela;
            font-size: 24px;
            font-weight: 400;
            line-height: 31.2px;

            span {
                font-family: Dimica;
                font-size: 16px;
                font-weight: 400;
                line-height: 20.8px;
                text-decoration: line-through;
                color: rgba(105, 105, 105, 1);
            }
        }
        
        &-add {
            margin-bottom: 10px;
            height: 44px;
            border-radius: 20px;
            font-family: Dela;
            font-size: 20px;
            font-weight: 400;
            line-height: 28px;
            text-align: center;
            border: 1px solid rgba(19, 137, 233, 1);
            color: white;
            background: linear-gradient(90deg, #31CED9 0%, #9747FF 100%);
            transition: all 0.15s linear;

            &:hover {
                border: 1px solid rgba(151, 71, 255, 1);
                color: rgba(55, 13, 109, 1);
                background: linear-gradient(90deg, rgba(151, 71, 255, 0.3) 0%, rgba(49, 206, 217, 0.3) 100%);
            }

            &:active {
                transform: translateY(3px);
            }
        }

        &-basket {
            margin-bottom: 10px;
            height: 44px;
            border-radius: 20px;
            font-family: Dela;
            font-size: 20px;
            font-weight: 400;
            line-height: 28px;
            text-align: center;
            border: 1px solid rgba(19, 137, 233, 1);
            color: #370D6D;
            background: #74C7EE;
            transition: all 0.15s linear;

            &:active {
                transform: translateY(3px);
            }
        }

        &-buy {
            height: 44px;
            border-radius: 20px;
            font-family: Dela;
            font-size: 20px;
            font-weight: 400;
            line-height: 20px;
            text-align: center;
            border: 1px solid rgba(151, 71, 255, 1);
            color: rgba(55, 13, 109, 1);
            background: linear-gradient(90deg, rgba(151, 71, 255, 0.3) 0%, rgba(49, 206, 217, 0.3) 100%);
            transition: all 0.15s linear;

            &:hover {
                border: 1px solid rgba(19, 137, 233, 1);
                color: white;
                background: linear-gradient(90deg, #31CED9 0%, #9747FF 100%);
            }

            &:active {
                transform: translateY(3px);
            }
        }

        &-text-small {
            font-family: Dimica;
            font-size: 12px;
            font-weight: 400;
            line-height: 130%;
        }
    }
}

