.account-layer {
    padding: 30px 0 80px;
    &__content {
        padding: 50px 20px;
        background: #FFFFFF80;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 42px;
        width: 1200px;
        display: flex;
        gap: 20px;
    }

    &__menu {
        min-width: 340px;
        display: flex;
        flex-direction: column;
        gap: 14px;

        & .account-layer__link:nth-child(1) {
            &::after {
                height: 57px;
                width: 57px;
                top: 18px;
                left: 262px;
                background: url(/public/img/account/account-decor-link-1.svg) center/ 100% no-repeat;
            }
        }
        & .account-layer__link_active:nth-child(1) {
            a {
                padding-left: 64px;
            }
            &::after {
                left: 11px;
            }
        }

        & .account-layer__link:nth-child(2) {
            &::after {
                height: 63px;
                width: 75px;
                top: 15px;
                left: 225px;
                background: url(/public/img/account/account-decor-link-2.svg) center/ 100% no-repeat;
            }
        }
        & .account-layer__link_active:nth-child(2) {
            a {
                padding-left: 90px;
            }
            &::after {
                left: 17px;
            }
        }

        & .account-layer__link:nth-child(3) {
            &::after {
                height: 72px;
                width: 75px;
                top: 8px;
                left: 140px;
                background: url(/public/img/account/account-decor-link-3.svg) center/ 100% no-repeat;
            }
        }
        & .account-layer__link_active:nth-child(3) {
            a {
                padding-left: 110px;
            }
            &::after {
                left: 17px;
            }
        }

        & .account-layer__link:nth-child(4) {
            &::after {
                height: 57px;
                width: 68px;
                top: 18px;
                left: 210px;
                background: url(/public/img/account/account-decor-link-4.svg) center/ 100% no-repeat;
            }
        }
        & .account-layer__link_active:nth-child(4) {
            a {
                padding-left: 90px;
            }
            &::after {
                left: 17px;
            }
        }

        & .account-layer__link:nth-child(5) {
            &::after {
                height: 65px;
                width: 68px;
                top: 13px;
                left: 265px;
                background: url(/public/img/account/account-decor-link-5.svg) center/ 100% no-repeat;
            }
        }
        & .account-layer__link_active:nth-child(5) {
            a {
                padding-left: 70px;
            }
            &::after {
                left: 15px;
            }
        }

        & .account-layer__link:nth-child(6) {
            &::after {
                height: 60px;
                width: 62px;
                top: 16px;
                left: 195px;
                background: url(/public/img/account/account-decor-link-6.svg) center/ 100% no-repeat;
            }
        }
        & .account-layer__link_active:nth-child(6) {
            a {
                padding-left: 90px;
            }
            &::after {
                left: 13px;
            }
        } 
    }

    &__link { 
        padding: 0px 15px;
        position: relative;
        cursor: pointer;
        line-height: 93px;
        &_active {
            background-color: white;
            border-radius: 50px;
        }

        a {
            padding-left: 0;
            color: rgb(0, 0, 0);
            font-family: Dimica;
            font-size: 32px;
            font-weight: 400;
            letter-spacing: -5%;
            display: inline-block;
            transition: all 0.15s linear;
        }
        &::after {
            content: "";
            display: inline-block;
            position: absolute;
            transition: all 0.15s linear;
        }
    }

    &__block {
        background: rgb(255, 255, 255);
        border-radius: 50px;
        height: auto;
        width: 100%;
    }
}